<h1>Welcome to Cookie Time!!</h1>
<h2>About us</h2>
<p>Cookies Time is independently owned and opperated, our main goal is to deliver fresh cookies to all who may need them.</p>
<h2>Hours of Opperation</h2>
<ul>
	<li>Monday:3pm-2am</li>
	<li>Tuesday:3pm-2am</li>
	<li>Wednesday:3pm-2am</li>
	<li>Thursday:3pm-3am</li>
	<li>Friday:3pm-4am</li>
	<li>Saturday:3pm-5am</li>
	<li>Sunday: CLOSED</li>
</ul>