<!DOCTYPE html>
<html>
<head>
	<title>Cookie Time</title>
</head>
<body>
	<nav>
		<div>Logo</div>
		<ul>
			<li>Home</li>
			<li>Menu</li>
			<li>Order</li>
			<li>Reviews</li>
		</ul>
	</nav>
	<footer>Copyright CookieTime 2015</footer>
</body>
</html>











