<h1>Menu</h1>
<link rel="stylesheet" type="text/css" href="css/style.css">
<div id="img1">
<img src="images/cats.jpeg"><p>Try our delicious cat cookies! They are a blend of a sugar cookie and have a hint of vanilla bean with chocolate decoration. $2.00 each.</p>
</div>
<div id="img2">
<img src="images/hello.jpeg"><p>These Hello Kitty cookies will knock your socks off!! these cookies are a lemon lavender blend that goes great with a chamomile tea, while you are snuggled in your jammies. $5.00</p>
</div>
<div id="img3">
<img src="images/hedge.jpeg"><p>These lil guys are are great for late night study breaks! A combination of a walnut cookie, dippd in chocolate and covered in crushed walnuts. $1.00 each.</p>
</div>
<div id="img4">
<img src="images/pinata.jpeg"><p>This cookie is a party in your mouth!!! Enjoy this explosion of orange, strawberry, and chocolate flavors that will drive you wild! $1.00 each.</p> 
</div>
<div id="img5">
<img src="images/sea.jpeg"><p>These under water adventure cookies are a delicious vanilla cookie with a blueberry glaze that will make your head spin. $4.00 each.</p>
</div>
<div id="img6">
<img src="images/sunglasses.jpeg"><p> enjoy this giant chocolate chip cookie that it so delicious and bright it comes with a cool pair of complimentry shades! $ 2.00 per cookie.</p>
</div>
<p>(discounts for catering orders may be negotiated)</p>
