<h1>See what our customers have to say:</h1>
 
<h2> Amazing Cookies! <img class="stars" src="./images/stars.jpeg">
</h2>
 <p>
 	"These cookies are so good, I went right home and smacked my mama!"
 </p>

<h2> Stupid delicious, and crazy fast! <img class="stars" src="./images/stars.jpeg"> 
</h2>
	<p>This company is awesome, dude! It's perfect for when you get the munchies because it's like, you want cookies and they just like show up with them so fast. And they'll like bring you milk and stuff. They should be in every major city. Wait, are they in every major city? Dude...</p>

<h2> Excellent customer service. <img class="stars" src="./images/stars.jpeg">
</h2>
<p>I had to order cookies for a class party at the last minute and Cookie Time was wonderful! Their staff was so helpful and patient, and the cookies arrived right on time and were delicious. I will definitely order cookies from Cookie Time from now on!</p>




