
/*========================================*/
#logo {
	color: #993333;
	text-align: left;
	font-size: 3.5em;
	font-family: Comic Sans MS;
	position: relative;
	left:	-150px;
	top: 50px;
}

body {
	background-color: #FFCC99;
}
/*========================================*/


#wrapper {
	width: 900px;
	margin: 0 auto;	
}

#nav_bar {
	position: relative;
	left: 250px;
}

li {
	width: 85px;
	text-align: center;
	margin-right: 50px;
	border: 1px solid white;
	border-radius: 50%;
	background-color: #993333;
	display: inline-block;
	padding: 25px;
	font-family: Comic Sans MS;
	font-size: 24px;
}

a:link {
	color: #FFCC99;
}

a:visited {
	color: #FFCC99;
}

a:hover {
	color: white;
}
#img1 {
	border: 20px solid brown;
	padding: 0 auto;
}
#img2 {
	border: 20px solid brown;
	padding: 0 auto;
}
#img3 {
	border: 20px solid brown;
	padding: 0 auto;
}
#img4 {
	border: 20px solid brown;
	padding: 0 auto;
}
#img5 {
	border: 20px solid brown;
	padding: 0 auto;
}
#img6 {
	border: 20px solid brown;
	padding: 0 auto;
}
p {
	text-align: center;
}